{% extends 'revision_app/main.html' %}
{% load static %}

{% block content %}
{% include 'revision_app/pageloader.html' %}
<body style="background-image: url('{% static 'img/pexels-tirachard-kumtanom-112571-733856.jpg' %}'); background-size: cover; background-position: center; min-height: 100vh;">
    
    <div class="container-fluid my-0 position-relative mx-0 px-0" style="padding-top: 56px; z-index: 1;">
    <div class="container-fluid mx-0 px-0 w-100">
    <div class="row">

    
    <div class="d-flex mb-6 justify-content-between text-align-center position-fixed" style="z-index: 1050; width: 91.78%; background-color: rgba(39, 41, 35, 0.5);">
        <div class="input-group my-0 py-0 " style="width: 15%; height: inherit; margin-left: 0;">
            <span class="d-flex align-items-center"><form method="get" action="" >
                <select name="paginate_by" id="paginate_by" onchange="this.form.submit()" class="form-select px-6" style="height: fit-content;">  
                  <option value="10" {% if request.GET.paginate_by == '10' %}selected{% endif %}>10</option>
                  <option value="13"  {% if request.GET.paginate_by == '13' %}selected{% endif %}>13</option>
                  <option value="20" {% if request.GET.paginate_by == '20' %}selected{% endif %}>20</option>
                  <option value="50" {% if request.GET.paginate_by == '50' %}selected{% endif %}>50</option>
                </select>
              </form></span></div>
        <h3 class="text-center text-white d-flex py-1">Dashboard</h3>
        <span class="d-flex align-items-center"><a href="{% url 'add-product' %}" class="btn btn-success" style="z-index: 1090; position: relative;">Add product</a></span>
    </div></div></div>

<div class="container-fluid m-0 p-0">
    <div class="container-fluid my-2 position-relative" style="padding-top: 60px; z-index: 1;">
        <div class="row justify-content-between position-relative text-align-center gap-6">
            <div class="col-md-3">
                <div class="card text-white mb-3" style="height: 13vh; background-color: rgb(58, 50, 50);">
                    <div class="card-header text-center fw-bold fs-5">UNIT PRODUCTS AVAILABLE</div>
                    <div class="card-body"> 
                       <h5 class="text-center fs-3">{{ total_products }} </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white mb-3" style="height: 13vh; background-color: rgb(58, 50, 50);">
                    <div class="card-header text-center fw-bold fs-5">TOTAL QUANTITY OF PRODUCTS</div>
                        <div class="card-body"> 
                            <h5 class="text-center fs-3">{{ total_stock }}</h5>
                        </div>
                    </div>
                </div>
            
            <div class="col-md-3">
                <div class="card text-white mb-3" style="height: 13vh; background-color: rgb(58, 50, 50);">
                    <div class="card-header text-center fw-bold fs-5">TOTAL AMOUNT OF PRODUCTS</div>
                        <div class="card-body">
                                <h5 class="text-center fs-3">&#8373;{{ total_value|floatformat:2 }}</h5>
                        </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white mb-3" style="height: 13vh; background-color: rgb(58, 50, 50);">
                    <div class="card-header text-center fw-bold fs-5">TOTAL AMOUNT OF SALES</div>
                        <div class="card-body">  
                            <h5 class="text-center fs-3">&#8373;{{ total_sales|floatformat:2 }}</h5>
                        </div>
                    </div>
                </div>
        </div>    
    </div>
</div>


<div class="container-fluid my-6" style="margin-top: 50px;">
<!-- Products Table -->
 <table class="table table-bordered table-dark table-striped my-3 w-100 text-center fs-5">
<h3 class="text-center">Products</h3>

    <thead>
        <tr class="table-secondary">
            <th>Number</th>
            <th>Unique Key</th>
            <th>Product Name</th>
            <th>&#8373;Price</th>
            <th>Quantity</th>
            <th class="w-10" style="width: 14%;">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in page_obj.object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ product.unique_key }}</td>
            <td>{{ product.product_name }}</td>
            <td>{{ product.price|floatformat:2 }}</td>
            <td>{{ product.stock }}</td>
            <td class="d-flex justify-content-around">
                <!-- <a href="{% url 'products' product.id %}">View</a> -->
                <a href="{% url 'update-product' product.id %}" class="btn btn-success py-1 px-4">Edit</a> <span class="mx-2">||</span>  
                <a href="{% url 'delete-product' product.id %}" class="btn text-light py-1 px-3" style="background-color: brown;">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No products available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="flex-row d-flex justify-content-center">

    <nav aria-label="Page navigation example" style="margin-top: 0.5%;">
        <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
        <a href="?page=1&paginate_by={{ paginate_by }}" class="page-link ">First</a>
        </li>
        <li class="page-item">
            <a href="?page={{ page_obj.previous_page_number }}&paginate_by={{ paginate_by }}" 
            class="page-link fs-3 d-flex align-items-center justify-content-center" 
            style="height: 43px;">
             <span>&laquo;</span>
         </a>
         
        </li>
      {% endif %}
      
      <li class="page-item"><a href="#" class="page-link"><span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></a></li>
      
      {% if page_obj.has_next %}
      <li class="page-item">
        <a href="?page={{ page_obj.next_page_number }}&paginate_by={{ paginate_by }}" 
        class="page-link fs-3 d-flex align-items-center justify-content-center" style="height: 43px;">&raquo;</a>
        </li>
        <li class="page-item">
        <a href="?page={{ page_obj.paginator.num_pages }}&paginate_by={{ paginate_by }}" class="page-link">Last</a>
    </li>
        {% endif %}
    </ul>
    </nav>
 
    </div>
</div>
</div>
<style>
    .pagination {
    justify-content: center;
    width: 100%; /* Set pagination to take the full width */
  }

  .pagination .page-item .page-link {
    min-width: 70%; /* Adjusts the width of each page link */
    padding: 0.5rem 2.5rem; /* Adjusts padding for better spacing */
    font-size: 1rem; /* Adjust font size if needed */
    color: black;
    font-weight: 500;
    background-color: rgba(51, 26, 2, 0.45);
  }

</style>

{% endblock %}


