{% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login'%}">Login </a>
{% endif %}

<h1>Welcome admin</h1>

<h2>Dashboard Summary</h2>
<p>Total Products: {{ total_products }}</p>
<p>Total Stock: {{ total_stock }}</p>
<p>Total Value: &#8373;{{ total_value }}</p>


<form method="GET" action="">
    <input type="text" name="search" placeholder="Search Products..." value="{{ request.GET.search }}">
    <button type="submit">Search</button>
</form>

<a href="{% url 'add-product' %}">Add product</a>
<table>
    <thead>
        <tr>
            <th>Number</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ product.product_name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock }}</td>
            <td><a href="{% url 'products' product.id %}">View</a></td>
            <td><a href="{% url 'update-product' product.id %}">Edit</a></td>
            <td><a href="{% url 'delete-product' product.id %}">Delete</a></td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No products available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
            <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
        {% endif %}

    </span>
</div>
