<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .container{
        /* max-width shrinks to last px */
        max-width: 550px;
        margin: auto;
        background: #fff;
        -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
        box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    }
    </style>

<body>
    <div class="container">
        <!--working with templates inheritance -->
        {% block content %}
        <!-- child elements will go on in here -->
        {% endblock %}
    </div>
</body>
</body>
</html>