{% load static %}
{% block content %}
{% include 'revision_app/pageloader.html' %}
<head><link rel="stylesheet" href="{% static 'css/bootstrap.css'  %}"></head>
<h1 class="py-3 px-3 text-center d-flex justify-content-between align-items-center" style="background-color: rgba(39, 41, 35, 0.5);"><span><a href="{% url 'user' %}" class="btn bg-danger fw-bold fs-3 px-3 pt-0" style="height: 50px; justify-content: center;">&#8592;</a></span> 
   <span class="text-white">Change Password for {{ user.username }}</span> <span></span></h1>

   <body style="background-image: url('{% static 'img/pexels-rdne-5699177.jpg' %}'); background-size: cover; background-position: center; min-height: 100vh;">
    <!-- {{ form.as_p }}  Render the form fields -->


<div class="container">
    <div class="d-flex flex-column align-items-center" style="min-height: 80vh; justify-content: center;">
        <div class="form-box p-4" style="background-color: #6e5f4a; border-radius: 10px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); max-width: 400px; width: 100%;">
          {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">{{message}}</div>
                    {% endfor %}
                {% endif %} 
                

          <form action="" method="post">
                <h1 class="text-center" style="margin-bottom: 30px;"></h1>
                {% csrf_token %}
                <div class="mb-3">
                  <input type="password" name="new_password" required="" id="id_new_password" class="form-control" placeholder="New Password" style="width: 100%; margin-bottom: 30px;">
                </div>
                <div class="mb-3">
          
                    <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password" required="" id="id_confirm_password">
                  </div>
                <input type="submit" value="Save Changes" class="btn btn-primary w-100" style="background-color: #1f2020; border: none;">
            </form>
        </div>
    </div>
</div>
  <style>
    .form-control {
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }
    .form-control:focus {
        border-color: #151d1d;
        box-shadow: 0 0 5px rgb(42, 43, 44);
        outline:#6e5f4a;
    }
</style>

<script>
  function togglePassword() {
      const passwordFields = document.querySelectorAll('input[type="password"]');
      passwordFields.forEach(field => {
          field.type = field.type === 'password' ? 'text' : 'password';
      });
  }
</script>

</body>
{% endblock %}
