{% extends 'revision_app/main.html' %}
{% load static %}

{% block content %}
{% include 'revision_app/pageloader.html' %}
<head><link rel="stylesheet" href="{% static 'css/bootstrap.css'  %}"></head>
<body style="background-image: url('{% static 'img/pexels-tirachard-kumtanom-112571-733856.jpg' %}'); background-size: cover; background-position: center; min-height: 100vh;">

<div class="container-fluid my-0 position-relative mx-0 px-0" style="padding-top: 56px; z-index: 1;">
<div class="container-fluid mx-0 px-0 w-100">
<div class="row">


<div class="d-flex mb-6 justify-content-end text-align-center position-fixed" style="z-index: 1050; width: 91.78%; background-color: rgba(39, 41, 35, 0.5);">
    <div class="input-group my-0 py-0" style="width: 15%; height: inherit; margin-right: auto;">
    <span class="d-flex align-items-center"><form method="get" action="" >
        <select name="paginate_by" id="paginate_by" onchange="this.form.submit()" class="form-select px-6" style="height: fit-content;">    
          <option value="10" {% if request.GET.paginate_by == '10' %}selected{% endif %}>10</option>
          <option value="13"  {% if request.GET.paginate_by == '13' %}selected{% endif %}>13</option>
          <option value="20" {% if request.GET.paginate_by == '20' %}selected{% endif %}>20</option>
          <option value="50" {% if request.GET.paginate_by == '50' %}selected{% endif %}>50</option>
        </select>
      </form></span></div>

    <h3 class="text-align-center text-white py-1" style="margin-right: 15vh;">Sales</h3>

    <div class="input-group my-0 py-0" style="width: 15%; height: inherit; margin-right: 15px;">
        <span class="input-group-text">Start Date:</span>
        <input type="date" id="start_date" class="form-control">
      </div>


    <div class="input-group" style="width: 15%; height: inherit; margin-right: 10px;">
        <span class="input-group-text">End Date:</span>
        <input type="date" id="end_date" class="form-control">
     </div>
     <span class="d-flex align-items-center"><a href="{% url 'generate_pdf' %}" class="btn btn-success" onclick="generatePDF()">Generate Sales Report</a></span>

</div></div>
<div class="container-fluid" style="padding-top: 55px;">
<table class="table table-bordered my-3 w-100 text-center fs-5 table-dark table-striped ">
    <thead>
        <tr class="table-light">
            <th>Number</th>
            <th>Unique Key</th>
            <th>Product</th>
            <th>Quantity Sold</th>
            <th>&#8373;Total Price</th>
            <th>Date Sold</th>
            <th>Salesperson</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in page_obj.object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ sale.unique_key }}</td>
            <td>{{ sale.product }}</td>
            <td>{{ sale.quantity_sold }}</td>
            <td>{{ sale.total_price|floatformat:2 }}</td>
            <td>{{ sale.date_sold }}</td>
            <td>{{ sale.salesperson.username|capfirst }}
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No sales available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="flex-row d-flex justify-content-center">

<nav aria-label="Page navigation example" style="margin-top: 0.5%;">
    <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
    <a href="?page=1&paginate_by={{ paginate_by }}" class="page-link ">First</a>
    </li>
    <li class="page-item">
        <a href="?page={{ page_obj.previous_page_number }}&paginate_by={{ paginate_by }}" 
        class="page-link fs-3 d-flex align-items-center justify-content-center" 
        style="height: 42px;">
         <span>&laquo;</span>
     </a>
     
    </li>
  {% endif %}
  
  <li class="page-item"><a href="#" class="page-link"><span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></a></li>
  
  {% if page_obj.has_next %}
  <li class="page-item">
    <a href="?page={{ page_obj.next_page_number }}&paginate_by={{ paginate_by }}" 
    class="page-link fs-3 d-flex align-items-center justify-content-center" style="height: 42px;">&raquo;</a>
    </li>
    <li class="page-item">
    <a href="?page={{ page_obj.paginator.num_pages }}&paginate_by={{ paginate_by }}" class="page-link">Last</a>
</li>
    {% endif %}
</ul>
</nav>


</div>
</div>
</div>
</div>
</div>
<style>
    .pagination {
    justify-content: center;
    width: 100%; /* Set pagination to take the full width */
  }

  .pagination .page-item .page-link {
    min-width: 70%; /* Adjusts the width of each page link */
    padding: 0.5rem 2.5rem; /* Adjusts padding for better spacing */
    font-size: 1rem; /* Adjust font size if needed */
    color: black;
    font-weight: 500;
    background-color: rgba(51, 26, 2, 0.45);
  }


</style>
<script>
function generatePDF() {
    // Get the start and end dates from the input fields
    const startDate = document.getElementById('start_date').value;
    const endDate = document.getElementById('end_date').value;

    // Check if both dates are provided
    if (startDate && endDate) {
        // Redirect to the generate_pdf URL with the date parameters
        window.location.href = `/generate-pdf?start_date=${startDate}&end_date=${endDate}`;
    } else {
        alert("Please select both start and end dates.");
    }
}
</script>
{% endblock %}